
<div class="layout-header" >
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand navbar-brand-center" routerLink="/" >
        <img class="navbar-brand-logo" src="./assets/img/logo.png" alt="GIGL">
      </a>
      <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#sidenav">
        <span class="sr-only">Toggle navigation</span>
        <span class="bars">
          <span class="bar-line bar-line-1 out"></span>
          <span class="bar-line bar-line-2 out"></span>
          <span class="bar-line bar-line-3 out"></span>
        </span>
        <span class="bars bars-x">
          <span class="bar-line bar-line-4"></span>
          <span class="bar-line bar-line-5"></span>
        </span>
      </button>
      <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="arrow-up"></span>
        <span class="ellipsis ellipsis-vertical">
          <!-- <img class="ellipsis-object" width="32" height="32" src="./assets/img/0180441436.jpg" alt="Teddy Wilson"> -->
        </span>
      </button>
    </div>
    <div class="navbar-toggleable">
      <nav id="navbar" class="navbar-collapse collapse">
        <button class="sidenav-toggler hidden-xs" (click)="sidebarCollapsed()" id="sidebarWrap" title="Collapse sidenav" aria-expanded="true" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="bars">
            <span class="bar-line bar-line-1 out"></span>
            <span class="bar-line bar-line-2 out"></span>
            <span class="bar-line bar-line-3 out"></span>
            <span class="bar-line bar-line-4 in"></span>
            <span class="bar-line bar-line-5 in"></span>
            <span class="bar-line bar-line-6 in"></span>
          </span>
        </button>
        <ul class="nav navbar-nav navbar-right">
          
          <!-- <li class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true">
              <span class="icon-with-child hidden-xs">
                <span class="icon icon-bell-o icon-lg"></span>
                <span class="badge badge-danger badge-above right">0</span>
              </span>
              <span class="visible-xs-block">
                <span class="icon icon-bell icon-lg icon-fw"></span>
                <span class="badge badge-danger pull-right">7</span>
                Notifications
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
              <div class="dropdown-header">
                
                <h5 class="dropdown-heading">Recent Notifications</h5>
              </div>
              <div class="dropdown-body">
                <div class="list-group list-group-divided custom-scrollbar">
                  <a class="list-group-item" href="#">
                    <div class="notification">
                      <div class="notification-media">
                        <span class="icon icon-exclamation-triangle bg-warning rounded sq-40"></span>
                      </div>
                      <div class="notification-content">
                        <small class="notification-timestamp">35 min</small>
                        <h5 class="notification-heading">Update Status</h5>
                        <p class="notification-text">
                          <small class="truncate">Failed to get available update data. To ensure the proper functioning of your application, update now.</small>
                        </p>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item" href="#">
                    <div class="notification">
                      <div class="notification-media">Daniel Taylor
                        <span class="icon icon-flag bg-success rounded sq-40"></span>
                      </div>
                      <div class="notification-content">
                        <small class="notification-timestamp">43 min</small>
                        <h5 class="notification-heading">Account Contact Change</h5>
                        <p class="notification-text">
                          <small class="truncate">A contact detail associated with your account teddy.wilson, has recently changed.</small>
                        </p>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item" href="#">
                    <div class="notification">
                      <div class="notification-media">
                        <span class="icon icon-exclamation-triangle bg-warning rounded sq-40"></span>
                      </div>
                      <div class="notification-content">
                        <small class="notification-timestamp">1 hr</small>
                        <h5 class="notification-heading">Failed Login Warning</h5>
                        <p class="notification-text">
                          <small class="truncate">There was a failed login attempt from "192.98.19.164" into the account teddy.wilson.</small>
                        </p>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item" href="#">
                    <div class="notification">
                      <div class="notification-media">
                        <img class="rounded" width="40" height="40" src="./assets/img/0180441436.jpg" alt="Daniel Taylor">
                      </div>
                      <div class="notification-content">
                        <small class="notification-timestamp">4 hr</small>
                        <h5 class="notification-heading">Daniel Taylor</h5>
                        <p class="notification-text">
                          <small class="truncate">Like your post: "Everything you know about Bootstrap is wrong".</small>
                        </p>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item" href="#">
                    <div class="notification">
                      <div class="notification-media">
                        <img class="rounded" width="40" height="40" src="./assets/img/0180441436.jpg" alt="Emma Lewis">
                      </div>
                      <div class="notification-content">
                        <small class="notification-timestamp">8 hr</small>
                        <h5 class="notification-heading">Emma Lewis</h5>
                        <p class="notification-text">
                          <small class="truncate">Like your post: "Everything you know about Bootstrap is wrong".</small>
                        </p>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item" href="#">
                    <div class="notification">
                      <div class="notification-media">
                        <img class="rounded" width="40" height="40" src="./assets/img/0180441436.jpg" alt="Sophia Evans">
                      </div>
                      <div class="notification-content">
                        <small class="notification-timestamp">8 hr</small>
                        <h5 class="notification-heading">Sophia Evans</h5>
                        <p class="notification-text">
                          <small class="truncate">Like your post: "Everything you know about Bootstrap is wrong".</small>
                        </p>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item" href="#">
                    <div class="notification">
                      <div class="notification-media">
                        <img class="rounded" width="40" height="40" src="./assets/img/0180441436.jpg" alt="Teddy Wilson">
                      </div>
                      <div class="notification-content">
                        <small class="notification-timestamp">9 hr</small>
                        <h5 class="notification-heading">Teddy Wilson</h5>
                        <p class="notification-text">
                          <small class="truncate">Published a new post: "Everything you know about Bootstrap is wrong".</small>
                        </p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="dropdown-footer">
                <a class="dropdown-btn" href="#">See All</a>
              </div>
            </div>
          </li> -->
          <li class="dropdown hidden-xs">
            <button class="navbar-account-btn" data-toggle="dropdown" aria-haspopup="true">
              <img class="rounded" width="36" height="36" [src]=" (adminData?.image)? (environment.baseUrl + 'images/' + adminData.image) : './assets/img/3002121059.jpg' " alt="Profile pic"> {{ (commonService.decodeToken.name)? commonService.decodeToken.name : 'Gigl user' }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              
            
              <li><a routerLink="/admin/profile" >Profile</a></li>
              <li (click)="authService.logOut()" ><a>Sign out</a></li>
            </ul>
          </li>

          <li class="visible-xs-block">
            <a href="contacts.html">
              <span class="icon icon-users icon-lg icon-fw"></span>
              Contacts
            </a>
          </li>
          <li class="visible-xs-block">
            <a href="profile.html">
              <span class="icon icon-user icon-lg icon-fw"></span>
              Profile
            </a>
          </li>
          <li class="visible-xs-block">
            <a href="login-1.html">
              <span class="icon icon-power-off icon-lg icon-fw"></span>
              Sign out
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<div class="">
  <div class="layout-sidebar">
    <div class="layout-sidebar-backdrop"></div>
    <div class="layout-sidebar-body">
      <div class="custom-scrollbar">
        <nav id="sidenav" class="sidenav-collapse collapse">
          <ul class="sidenav">
            
            <li class="sidenav-heading">Navigation</li>
            <li routerLink="/dashboard" routerLinkActive="active" class="sidenav-item dashboardPageNav p-cursor">
              <a aria-haspopup="true">
                <span class="sidenav-icon fa fa-home"></span>
                <span class="sidenav-label">Dashboard</span>
              </a>
            </li>
            <li routerLink="/employer" routerLinkActive="active" class="sidenav-item profilePageNav p-cursor">
              <a aria-haspopup="true">
                <span class="sidenav-icon fa fa-users"></span>
                <span class="sidenav-label">Employers</span>
              </a>
            </li>
            <li routerLink="/user" routerLinkActive="active" class="sidenav-item profilePageNav p-cursor">
              <a aria-haspopup="true">
                <span class="sidenav-icon fa fa-users"></span>
                <span class="sidenav-label">Job Seekers</span>
              </a>
            </li>
            <li routerLink="/jobs" routerLinkActive="active" class="sidenav-item profilePageNav p-cursor">
              <a aria-haspopup="true">
                <span class="sidenav-icon fa fa-briefcase"></span>
                <span class="sidenav-label">Jobs</span>
              </a>
            </li>
            <li (click)="multiSideItem.id = 1; multiSideItem.status = !multiSideItem.status" [class.open]="(multiSideItem.id === 1) && (multiSideItem.status == true)" class="sidenav-item has-subnav postNav p-cursor ">
              <a  aria-haspopup="true" aria-expanded="true">
                <span class="sidenav-icon icon icon-users"></span>
                <span class="sidenav-label">Data Management</span>
              </a>
              <ul class="sidenav-subnav  d-block" [class.collapse] = "multiSideItem.id !== 1" aria-expanded="true" style="">
                <li class="postNav-a"><a routerLink="/data/skills" >Skills</a></li>
                <li class="postNav-b"><a routerLink="/data/questions" >Questions</a></li>
              </ul>
            </li>
            <!-- <li class="sidenav-item profilePageNav p-cursor">
              <a aria-haspopup="true">
                <span class="sidenav-icon icon icon-user"></span>
                <span class="sidenav-label">Profile</span>
              </a>
            </li>
            <li class="sidenav-item accountNav p-cursor">
              <a aria-haspopup="true">
                <span class="sidenav-icon icon icon-users"></span>
                <span class="sidenav-label">Account management</span>
              </a>
            </li> -->
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>