<div class="title-bar">
  <h1 class="title-bar-title">
    <span class="d-ib">Dashboard</span>
    
  </h1>
  <p class="title-bar-description">
    <small>Welcome to GIGL</small>
  </p>
</div>
<div class="row gutter-xs">
  <div class="col-md-6 col-sm-6 col-lg-6">
    <div routerLink="/employer" class="card p-cursor">
      <div class="card-body">
        <div class="media">
          <div class="media-middle media-left">
            <span class="bg-primary circle sq-48">
              <span class="icon icon-user"></span>
            </span>
          </div>
          <div class="media-middle media-body">
            <h6 class="media-heading">Total Employers</h6>
            <h3 class="media-heading">
              <span class="fw-l">{{ dataCount?.employers }}</span>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-lg-6">
    <div routerLink="/user" class="card p-cursor">
      <div class="card-body">
        <div class="media">
          <div class="media-middle media-left">
            <span class="bg-danger circle sq-48">
              <span class="fa fa-users"></span>
            </span>
          </div>
          <div class="media-middle media-body">
            <h6 class="media-heading">Total Seekers</h6>
            <h3 class="media-heading">
              <span class="fw-l">{{ dataCount?.users }}</span>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-lg-6">
    <div class="card">
      <div class="card-body">
        <div class="media">
          <div class="media-middle media-left">
            <span class="bg-danger circle sq-48">
              <span class="fa fa-briefcase"></span>
            </span>
          </div>
          <div class="media-middle media-body">
            <h6 class="media-heading">Total Active Jobs</h6>
            <h3 class="media-heading">
              <span class="fw-l">{{ dataCount?.activeJobs }}</span>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-lg-6">
    <div class="card">
      <div class="card-body">
        <div class="media">
          <div class="media-middle media-left">
            <span class="bg-primary circle sq-48">
              <span class="fa fa-briefcase"></span>
            </span>
          </div>
          <div class="media-middle media-body">
            <h6 class="media-heading">Total Pending Jobs</h6>
            <h3 class="media-heading">
              <span class="fw-l">{{ dataCount?.pendingJobs }}</span>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row gutter-xs">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Visitors</h4>
      </div>
      <div class="card-body">
        <div class="card-chart">
          <canvas id="demo-visitors" data-chart="bar" data-animation="false" data-labels='["Aug 1", "Aug 2", "Aug 3", "Aug 4", "Aug 5", "Aug 6", "Aug 7", "Aug 8", "Aug 9", "Aug 10", "Aug 11", "Aug 12", "Aug 13", "Aug 14", "Aug 15", "Aug 16", "Aug 17", "Aug 18", "Aug 19", "Aug 20", "Aug 21", "Aug 22", "Aug 23", "Aug 24", "Aug 25", "Aug 26", "Aug 27", "Aug 28", "Aug 29", "Aug 30", "Aug 31"]' data-values='[{"label": "Visitors", "backgroundColor": "#2c3e50", "borderColor": "#2c3e50",  "data": [29432, 20314, 17665, 22162, 31194, 35053, 29298, 36682, 45325, 39140, 22190, 28014, 24121, 39355, 36064, 45033, 42995, 30519, 20246, 42399, 37536, 34607, 33807, 30988, 24562, 49143, 44579, 43600, 18064, 36068, 41605]}]' data-hide='["legend", "scalesX"]' height="150"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Sales</h4>
      </div>
      <div class="card-body">
        <div class="card-chart">
          <canvas id="demo-sales" data-chart="bar" data-animation="false" data-labels='["Aug 1", "Aug 2", "Aug 3", "Aug 4", "Aug 5", "Aug 6", "Aug 7", "Aug 8", "Aug 9", "Aug 10", "Aug 11", "Aug 12", "Aug 13", "Aug 14", "Aug 15", "Aug 16", "Aug 17", "Aug 18", "Aug 19", "Aug 20", "Aug 21", "Aug 22", "Aug 23", "Aug 24", "Aug 25", "Aug 26", "Aug 27", "Aug 28", "Aug 29", "Aug 30", "Aug 31"]' data-values='[{"label": "Sales", "backgroundColor": "#e74c3c", "borderColor": "#e74c3c",  "data": [3601.09, 2780.29, 1993.39, 4277.07, 4798.58, 6390.75, 3337.37, 6786.94, 5632.1, 5460.43, 3905.17, 3070.82, 4263.55, 7132.64, 6103.88, 6020.76, 4662.25, 4084.34, 3464.87, 4947.89, 4486.55, 5898.46, 5528.33, 3616.03, 3255.17, 7881.06, 7293.8, 6863.6, 3161.31, 6711.08, 7942.9]}]' data-hide='["legend", "scalesX"]' height="150"></canvas>
        </div>
      </div>
    </div>
  </div>
</div> -->