<div class="title-bar">
  <h1 class="title-bar-title">
    <span class="d-ib">Job Posting</span>
  </h1>
</div>

<div class="card">
  <div class="card-body">
    <h5>Filters</h5>
    <hr class="hr">
    <div class="row">
      <div class="col-md-4">
        <label for="">Job Status</label>
        <mat-form-field>
          <mat-select placeholder="Job Status" [(value)]="filterQuery.status" multiple>
            <mat-option *ngFor="let stat of filterData.status" [value]="stat.value">{{ stat.title }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- Time -->
      <div class="col-md-4">
        <label for="">In the past -</label>
        <mat-form-field>
          <mat-select [(value)]="filterQuery.modifiedOn" placeholder="">
            <mat-option *ngFor="let date of filterData.timing" [value]="date.value">{{date.title}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div style="margin-top: 25px;" class="col-md-2">
        <label for=""></label>
        <button (click)="filterJobs()" mat-stroked-button>Filter Jobs</button>
      </div>
      <div style="margin-top: 25px;" class="col-md-2">
        <button (click)="filterQuery = {}; filterJobs();" mat-stroked-button>Clear Filters</button>
      </div>
    </div>
  </div>
</div>

<div class="dataTable-container mat-elevation-z8">

<mat-form-field>
  <div class="padding-left-5 padding-right-5">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </div>
</mat-form-field>  

<table mat-table #table [dataSource]="dataSource" matSort>

  <!-- Name Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Job Title</b> </th>
    <td mat-cell *matCellDef="let element"> {{element.jobTitle}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="postedBy">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Posted By</b> </th>
    <td mat-cell *matCellDef="let element"> {{ (element.empData) ? element.empData.firstName + ' ' + element.empData.lastName : '--'  }} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="pdate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Posting Date</b> </th>
    <td mat-cell *matCellDef="let element"> {{element.createdOn | date }} </td>
  </ng-container>

  <ng-container matColumnDef="mdate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Last Modified</b> </th>
    <td mat-cell *matCellDef="let element"> {{element.modifiedOn | date }} </td>
  </ng-container>


  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Current Status</b> </th>
    <td mat-cell [ngSwitch]="element.status" *matCellDef="let element">
      <span class="text-warning" *ngSwitchCase="1" >Pending</span>
      <span class="text-info" *ngSwitchCase="2" >Active</span>
      <span class="text-success" *ngSwitchCase="3">Finished</span>
    </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Action</b> </th>
    <td mat-cell *matCellDef="let element"> 
      <button matTooltip=" {{(element.isBlocked)? 'Blocked' : 'Unblocked'}}" (click)="toggleBlocking( { isBlocked: !element.isBlocked, _id: element._id } )"
      [ngClass] = "{ 'btn-warning': element.isBlocked, 'btn-info': !element.isBlocked  }"
      class="btn btn-small">
        <i *ngIf="element.isBlocked" class="fa fa-ban"></i>
        <i *ngIf="!element.isBlocked" class="fa fa-unlock-alt"></i>
      </button> 
      <button matTooltip="View Data" data-toggle="modal" style="margin-left: 5px;" (click)="getSingleUserData(element._id)" data-target="#viewDetail" class="btn btn-primary"><i class="fa fa-eye"></i></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator  #paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>

</div>

<!-- -------------- MODAL -->

<div id="viewDetail" tabindex="-1" role="dialog" class="modal fade viewDetailModal">
<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Job Detail</h4>
      </div>
      <div class="modal-body provider-detail">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="timeline">
                  <!-- <div class="timeline-item">
                    <div class="timeline-segment">
                      <span class="timeline-divider"></span>
                    </div>
                    <div class="timeline-content"></div>
                  </div> -->
                  <div class="timeline-item">
                    <div class="timeline-segment">
                      <!-- <img class="timeline-media img-circle" width="40" height="40" src="./assets/img/8244439665.jpg" alt="img"> -->
                    </div>
                    <div class="timeline-content">
                      
                      <div class="text-center timeline-row">
                          <img class="timeline-media img-circle" width="60" height="60" src="{{ envtmnt.baseUrl }}uploads/{{singleData?.jobCoverImage}}" alt="img">
                      </div>
                    </div>
                  </div> 
                  <div class="timeline-item">
                    <div class="timeline-segment">
                      <img class="timeline-media img-circle" width="40" height="40" src="./assets/img/8244439665.jpg" alt="img">
                    </div>
                    <div class="timeline-content">
                      <div class="timeline-row"><a href="javascript:void(0)">Title &nbsp; </a>
                        <span [ngSwitch]="singleData.status">
                            <span class="label label-warning" *ngSwitchCase="1" >Posted</span>
                            <span class="label label-info" *ngSwitchCase="2" >Active</span>
                            <span class="label label-success" *ngSwitchCase="3">Finished</span>
                        </span>
                      </div>
                      <div class="timeline-row">{{ singleData?.jobTitle }}</div>
                    </div>
                  </div>
                  <div class="timeline-item">
                    <div class="timeline-segment">
                      <img class="timeline-media img-circle" width="40" height="40" src="./assets/img/8244439665.jpg" alt="img">
                    </div>
                    <div class="timeline-content">
                      <div class="timeline-row"><a href="javascript:void(0)">Job Description</a></div>
                      <div class="timeline-row">{{ (singleData?.jobDescription)? singleData?.jobDescription : '--' }}</div>
                    </div>
                  </div> 
                  <div class="timeline-item">
                    <div class="timeline-segment">
                      <img class="timeline-media img-circle" width="40" height="40" src="./assets/img/8244439665.jpg" alt="img">
                    </div>
                    <div class="timeline-content">
                        <!-- Account Balance -->
                      <div class="timeline-row"><a href="javascript:void(0)">Posted By</a></div>
                      <div class="timeline-row">{{ (singleData?.empData)? singleData?.empData.firstName + ' ' + singleData?.empData.lastName : '--' }}
                        <a routerLink="/employer/{{ singleData?._id }}" data-dismiss="modal" class="label label-primary"> View Profile</a>
                        <a routerLink="/employer-jobs/{{ singleData?._id }}" data-dismiss="modal" class="label label-primary"> View Other jobs</a>
                      </div>
                    </div>
                  </div>      
                  <div class="timeline-item">
                    <div class="timeline-segment">
                      <img class="timeline-media img-circle" width="40" height="40" src="./assets/img/8244439665.jpg" alt="img">
                    </div>
                    <div class="timeline-content">
                      <div class="timeline-row"><a href="javascript:void(0)">Skills</a></div>
                      <div class="timeline-row">
                        <span *ngFor="let skill of singleData?.skills" class="label label-primary">{{ skill?.skill }}</span>
                      </div>
                    </div>
                  </div>  
                  <div class="timeline-item">
                    <div class="timeline-segment">
                      <img class="timeline-media img-circle" width="40" height="40" src="./assets/img/8244439665.jpg" alt="img">
                    </div>
                    <div class="timeline-content">
                        <!-- Account Balance -->
                      <div class="timeline-row"><a href="javascript:void(0)">Complete Address</a></div>
                      <div class="timeline-row">{{ (singleData?.address )? singleData?.address?.address : '--' }}</div>
                    </div>
                  </div>                   
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="timeline">
                  <!-- <div class="timeline-item">
                    <div class="timeline-segment">
                      <span class="timeline-divider"></span>
                    </div>
                    <div class="timeline-content"></div>
                  </div> -->
                  <div class="timeline-item">
                    <div class="timeline-segment">
                      <img class="timeline-media img-circle" width="40" height="40" src="./assets/img/8244439665.jpg" alt="img">
                    </div>
                    <div class="timeline-content">
                      <div class="timeline-row"><a href="javascript:void(0)">Hourly Rate</a></div>
                      <div class="timeline-row">{{ (singleData?.hourlyRate)? singleData?.hourlyRate : '--' }}</div>
                    </div>
                  </div>   
                  <div class="timeline-item">
                    <div class="timeline-segment">
                      <img class="timeline-media img-circle" width="40" height="40" src="./assets/img/8244439665.jpg" alt="img">
                    </div>
                    <div class="timeline-content">
                      <div class="timeline-row"><a href="javascript:void(0)">Created On</a></div>
                      <div class="timeline-row">{{ singleData?.createdOn | date }}</div>
                    </div>
                  </div>                                    
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="timeline">
                  <div class="timeline-item">
                    <div class="timeline-segment">
                      <img class="timeline-media img-circle" width="40" height="40" src="./assets/img/8244439665.jpg" alt="img">
                    </div>
                    <div class="timeline-content">
                      <div class="timeline-row"><a href="javascript:void(0)">Blocked</a></div>
                      <div class="timeline-row">{{ (singleData?.isBlocked)? singleData?.isBlocked : 'false' }}</div>
                    </div>
                  </div>    
                  <div class="timeline-item">
                    <div class="timeline-segment">
                      <img class="timeline-media img-circle" width="40" height="40" src="./assets/img/8244439665.jpg" alt="img">
                    </div>
                    <div class="timeline-content">
                      <div class="timeline-row"><a href="javascript:void(0)">Last Modified</a></div>
                      <div class="timeline-row">{{ singleData?.modifiedOn | date }}</div>
                    </div>
                  </div>                                    
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="timeline">
                  <div class="timeline-item">
                    <div class="timeline-segment"></div>
                    <div class="timeline-content">                        
                      <div *ngIf="singleData?.jobDescriptionVideo" class="text-center timeline-row">
                          <video width="400" controls>
                            <source src="{{ envtmnt.baseUrl }}uploads/{{singleData?.jobDescriptionVideo}}" type="video/mp4">
                            Your browser does not support HTML5 video.
                          </video>
                      </div>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>      
</div>