/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.padding-5 {
    padding: 5px
}
.padding-top-5 {
    padding-top: 5px
}
.padding-bottom-5 {
    padding-bottom: 5px
}
.padding-left-5 {
    padding-left: 5px
}
.padding-right-5 {
    padding-right: 5px
}
.padding-right-4 {
    padding-right: 4px
}
.padding-5-0 {
    padding: 5px 0
}
.padding-0-5 {
    padding: 0 5px
}
.padding-10 {
    padding: 10px
}
.padding-top-10 {
    padding-top: 10px
}
.padding-bottom-10 {
    padding-bottom: 10px
}
.padding-left-10 {
    padding-left: 10px !important;
}
.padding-right-10 {
    padding-right: 10px
}
.padding-10-0 {
    padding: 10px 0
}
.padding-0-10 {
    padding: 0 10px
}
.padding-15 {
    padding: 15px
}
.padding-top-15 {
    padding-top: 15px !important;
}
.padding-bottom-15 {
    padding-bottom: 15px ;
}
.padding-left-15 {
    padding-left: 15px
}
.padding-left-20 {
    padding-left: 20px;
}
.padding-right-15 {
    padding-right: 15px
}
.padding-15-0 {
    padding: 15px 0
}
.padding-0-15 {
    padding: 0 15px
}
.margin-2 {
    margin: 2px
}
.margin-top-2 {
    margin-top: 2px
}
.margin-bottom-2 {
    margin-bottom: 2px
}
.margin-left-2 {
    margin-left: 2px
}
.margin-right-2 {
    margin-right: 2px
}
.margin-2-0 {
    margin: 2px 0
}
.margin-0-2 {
    margin: 0 2px
}
.margin-5 {
    margin: 5px
}
.margin-top-5 {
    margin-top: 5px
}
.bg-input{background-color: #ececec;}
.margin-bottom-5 {
    margin-bottom: 5px
}
.margin-left-5 {
    margin-left: 5px
}
.margin-right-5 {
    margin-right: 5px
}
.margin-5-0 {
    margin: 5px 0
}
.margin-0-5 {
    margin: 0 5px
}
.margin-10 {
    margin: 10px
}
.margin-top-10 {
    margin-top: 10px
}
.margin-bottom-10 {
    margin-bottom: 10px
}
.margin-left-10 {
    margin-left: 10px
}
.margin-right-10 {
    margin-right: 10px
}
.margin-10-0 {
    margin: 10px 0
}
.margin-0-10 {
    margin: 0 10px
}
.margin-15 {
    margin: 15px
}
.margin-top-15 {
    margin-top: 15px
}
.margin-bottom-15 {
    margin-bottom: 15px
}
.margin-bottom-25 {
    margin-bottom: 25px
}
.margin-left-15 {
    margin-left: 15px
}
.margin-right-15 {
    margin-right: 15px
}
.margin-15-0 {
    margin: 15px 0
}
.margin-0-15 {
    margin: 0 15px
}
.margin-bottom-50 {
    margin-bottom: 50px
}
.no-border {
    border: none
}
.custom-col-1 {
    width: 20%
}
.no-radius {
    border-radius: 0 !important;
}
.no-margin {
    margin: 0
}
.no-margin-bottom {
    margin-bottom: 0!important
}
.no-margin-left {
    margin-left: 0!important
}
.no-margin-top {
    margin-top: 0!important
}
.no-margin-right {
    margin-right: 0!important
}
.margin-auto {
    margin: auto
}
.no-padding {
    padding: 0
}
.no-padding-left {
    padding-left: 0!important;
}
.no-padding-bottom {
    padding-bottom: 0!important
}
.no-padding-left {
    padding-left: 0!important
}
.no-padding-top {
    padding-top: 0!important
}
.no-padding-right {
    padding-right: 0!important
}
.no-border-bottom {
    border-bottom: 0!important
}
.no-border-left {
    border-left: 0!important
}
.no-border-top {
    border-top: 0!important
}
.no-border-right {
    border-right: 0!important
}
.addImgBoxView .addImgView{width: 100%; overflow: hidden; min-height: 90px;max-height:120px;position: relative;text-align: center;}
.addImgBoxView .delAddImg{position: absolute;right: 3px;top: -8px;width: 20px; height: 20px; background: #333; border-radius: 50%;color: #fff;text-align: center;}
.addImgBoxView .addImgView img{max-width: 100%; margin: 0 auto;}
.border2px{border: solid 2px #333;padding: 10px 0px;margin-top: 10px; }
.view-add-pic{padding: 10px 5px;border: solid 1px #cecece;}
.view-add-pic .remove-bt{cursor: pointer; padding: 2px 8px;
    background: rgba(0,0,0,.9);
    z-index: 9999999;
    border-radius: 50%;}
.cursor {
    cursor: pointer
}
.background-none {
    background: 0 0
}
.background-color1 {
    background-color: #383f48
}
.provider-detail .col-md-3{
   padding-top: 10px;
   padding-bottom: 10px;
   max-height: 120px;
   overflow: hidden;
}
.border1 {
    border: 1px solid #ccc
}
.border2{
        border: solid 1px grey !important;
}
.border1-l {
    border-left: solid 1px #ccc
}
.border1-r {
    border-right: solid 1px #ccc
}
.border1-t {
    border-top: solid 1px #ccc
}
.border1-b {
    border-bottom: solid 1px #ccc
}
.bg-white {
    background: #fff
}
.Background1,
.Background2,
.Background3,
.Background4 {
    background-size: cover
}
.box-shadow {
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2)
}
.text-uppercase {
    text-transform: uppercase
}
.textshadow-none {
    text-shadow: none
}
.float-left {
    float: left
}
.float-right {
    float: right
}

.opacity-1 {  opacity: 1;}

.text-white { color: #fff !important;}

.close-btn {
	
position: absolute;
    right: 0px;
    top: -13px;

}

@media (min-width: 768px) {

	.form-horizontal .control-label {
    text-align: left;
   
}
}
.removeInnerAns{position: relative;}
.removeInnerAns .delInnerAns{    margin-left: 10px;
    position: absolute;
    right: 0;
    top: 7px;z-index: 9;}
.addSubCatBox{border: solid 2px #333;
    margin-bottom: 20px;
    padding: 12px 20px;}
.tabs-new{border-bottom: 0;width: 100%;background-color: #e1e8ef;border-radius: 0;margin-bottom: 0;padding-left: 0;list-style: none;}
.tabs-new li{display: table-cell;width: 1%;border-left: 1px solid #c0cfdd;float: none;}
.tabs-new li a{}
#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 50px;
    z-index: 10000;
    width: 81.5%;
}
.layout-content-body-dummy {
    float: left;
    padding: 15px 15px 35px;
    visibility: visible;
    width: 100%;
}
.css-treeview ul,
.css-treeview li
{
    padding: 0;
    margin: 0;
    list-style: none;
}
 
.css-treeview input
{
    position: absolute;
    opacity: 0;
}
 
.css-treeview
{
    font: normal 11px "Segoe UI", Arial, Sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
 
.css-treeview a
{
    color: #00f;
    text-decoration: none;
}
 
.css-treeview a:hover
{
    text-decoration: underline;
}
 
.css-treeview input + label + ul
{
    margin: 0 0 0 22px;
}
 
.css-treeview input ~ ul
{
    display: none;
}
 
.css-treeview label,
.css-treeview label::before
{
    cursor: pointer;
}
 
.css-treeview input:disabled + label
{
    cursor: default;
    opacity: .6;
}
 
.css-treeview input:checked:not(:disabled) ~ ul
{
    display: block;
}
 
.css-treeview label,
.css-treeview label::before
{
    background: url("./assets/img/icons.png") no-repeat;
}
 
.css-treeview label,
.css-treeview a,
.css-treeview label::before
{
    display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
}
 
.css-treeview label
{
    background-position: 18px 0;
}
.d-block{
    display: block;
}
 
.css-treeview label::before
{
    content: "";
    width: 16px;
    margin: 0 22px 0 0;
    vertical-align: middle;
    background-position: 0 -32px;
}
 
.css-treeview input:checked + label::before {background-position: 0 -16px;}
#grapeImg{width: auto;max-width: 200px;margin: 0 auto; }

.comboGroup input.c1{
    width: 25px!important;
}
/* webkit adjacent element selector bugfix */
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .css-treeview 
    {
        -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
    }
 
    @-webkit-keyframes webkit-adjacent-element-selector-bugfix 
    {
        from 
        { 
            padding: 0;
        } 
        to 
        { 
            padding: 0;
        }
    }
}

.dataTable-container {
    display: flex;
    flex-direction: column;
    // min-width: 300px;
    // max-height: 500px;
    // overflow: auto;
}

input.ng-invalid.ng-touched {
    border-color: red;
}

.p-cursor{ cursor: pointer; }


.navbar-collapse{
    box-shadow: 1px 1px 9px 2px #ccc !important;
}
mat-form-field{
    background-color: white;
    padding: 10px 15px 5px;
}