
<div class="layout-content-body">
    <div class="title-bar">
        <h1 class="title-bar-title">
          <span class="d-ib">Edit Profile / <a (click)="loctn.back()" href="javascript:void(0)">Back</a> </span>
          <!-- <a href="profile.php">Back</a> -->
        </h1>
        <!-- <p class="title-bar-description">
            <small>Welcome to 365 Fuel</small>
        </p> -->
    </div>

    <div class="row gutter-xs">
        <div class="col-md-12 card panel-body">
            <div class="col-sm-12 col-md-12">
              <div class="demo-form-wrapper">
                <form #editProfile="ngForm" (ngSubmit)="updateAdminProfile()" class="form form-horizontal" enctype="multipart/form-data" >
                    <div class="form-group">
                        <div class="col-md-8">
                            <label for="email-2" class=" control-label">Email</label>

                            <input [(ngModel)]="adminData.email" #email="ngModel" name="email" class="form-control" required type="text">
                            <small *ngIf="email.invalid && email.touched" class="text-danger">This field is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            <label for="email-2" class=" control-label">Phone</label>

                            <input [(ngModel)]="adminData.phone" #phone="ngModel" name="phone" class="form-control" required type="number">
                            <small *ngIf="phone.invalid && phone.touched" class="text-danger">This field is required</small>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <img [src]=" (adminData.image)? (environment.baseUrl + 'images/' + adminData.image) : './assets/img/3002121059.jpg' " width="150px" height="150px" alt="Profile pic">
                        </div>
                        <div class="col-md-4">
                            <label for="email-2" class=" control-label">Add profile pic</label>

                            <input (change)="filee($event)" name="image" class="form-control" type="file">
                        </div>

                    </div>
            
                    <div class="form-group">
                        <div class="col-md-8">
                            <label for="email-2" class=" control-label">Location</label>

                            <input [(ngModel)]="adminData.location" #location="ngModel" name="location" class="form-control" required type="text">
                            <small *ngIf="location.invalid && location.touched" class="text-danger">This field is required</small>
                        </div>

                    </div>
                    <!-- <div class="form-group">
                        <div class="col-md-8">
                            <label for="about" class=" control-label">About me</label>

                            <textarea id="" class="form-control" rows="5"></textarea>
                        </div>
                    </div> -->
                      <div class="form-group">
                        <div class="col-md-8">
                            <label for="address" class="control-label">Address</label>
                            <textarea  [(ngModel)]="adminData.address" #address="ngModel" name="address" class="form-control" required rows="5"></textarea>
                            <small *ngIf="address.invalid && address.touched" class="text-danger">This field is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class=" col-sm-8  col-md-8 ">
                            <button class="btn btn-primary"
                            [disabled]="address.invalid || location.invalid || phone.invalid || email.invalid"
                            type="submit">Submit</button>
                        </div>
                    </div>
                </form>
              </div>
            </div>

        </div>
    </div>

</div>