<div class="title-bar">
  <h1 class="title-bar-title">
    <span class="d-ib">Questions List</span>
  </h1>
</div>

<div class="card">
  <div class="card-body">
    <h5>Add New Question</h5>
    <hr class="hr">
    <form #newQuestion="ngForm" (ngSubmit)="addQuestion(newQuestion.value)" >
      <div class="row">
        <div class="col-md-10">
          <input type="text" name="question" placeholder="Enter question text" #question="ngModel" ngModel required class="form-control">
        </div>
        <div class="col-md-2">
          <button [disabled]="question.invalid" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="dataTable-container mat-elevation-z8">

<mat-form-field>
  <div class="padding-left-5 padding-right-5">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </div>
</mat-form-field>  

<table mat-table #table [dataSource]="dataSource" matSort>

  <!-- Name Column -->
  <ng-container matColumnDef="Title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Question Title </th>
    <td mat-cell *matCellDef="let element"> {{element?.question}}</td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
    <td mat-cell *matCellDef="let element"> 
      <button matTooltip="Edit" (click)="editQuestion(element)" class="btn btn-warning"><i class="fa fa-pencil-square-o"></i></button>

      <button style="margin-left: 5px;" matTooltip=" {{(element?.status == 2)? 'Blocked' : 'Unblocked'}}" (click)="toggleBlocking( { status: element?.status, _id: element._id } )"
      [ngClass] = "{ 'btn-warning': (element?.status == 2), 'btn-info': (element?.status != 2)  }"
      class="btn btn-small">
        <i *ngIf="element?.status == 2" class="fa fa-ban"></i>
        <i *ngIf="element?.status != 2" class="fa fa-unlock-alt"></i>
      </button> 

      <button matTooltip="Remove" (click)="removeSkill(element._id)" style="margin-left: 5px;" class="btn btn-primary"><i class="fa fa-trash-o"></i></button>
      
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator  #paginator [pageSize]="100" [pageSizeOptions]="[100, 250, 500, 1000]"></mat-paginator>

</div>
